# Public PocketBase URL (client-side Next.js connection)
NEXT_PUBLIC_POCKETBASE_URL=http://localhost:8090

# Africa's Talking Credentials (for USSD and SMS OTP)
AT_API_KEY=
AT_USERNAME=sandbox

# WhatsApp Cloud API / Meta BSP
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=
WHATSAPP_VERIFY_TOKEN=alipo_secret_token_123

# PayChangu API (Phase 2)
PAYCHANGU_API_KEY=

# Initial Superuser Setup for PocketBase (Optional)
PB_ADMIN_EMAIL=admin@alipo.mw
PB_ADMIN_PASSWORD=change_this_password_123
